### Soal Tipe Data

In [27]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Soal Tipe Data
Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [5]:
#Menjawab pertanyaan Nomor 1
def sort_company():
    # Mendapatkan daftar perusahaan dengan domainnya
    companies = [{'name': company['name'], 'domain': company_detail_list[company['name']]['domain']} for company in company_name_list]
    
    # Mengurutkan berdasarkan domain dalam urutan terbalik
    sorted_companies = sorted(companies, key=lambda x: x['domain'], reverse=True)
    
    return sorted_companies

# Data yang diberikan
company_name_list = [{'name': 'Company 1'},
                     {'name': 'Company 2'},
                     {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
                      {'name': 'Tom Smith'},
                      {'name': 'Andrew Sebastian'}]

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {'name': 'acme.inc', 'country': 'united states'},
            {'name': 'Wayne.co', 'country': 'united states'}
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {'name': 'Tesla', 'country': 'united states'},
            {'name': 'Japan Airlines', 'country': 'japan'},
            {'name': 'Indofood', 'country': 'indonesia'}
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {'name': 'Petronas', 'country': 'malaysia'},
            {'name': 'VW Group', 'country': 'germany'},
            {'name': 'IBM', 'country': 'united states'},
            {'name': 'Mitsubishi', 'country': 'japan'}
        ]
    }
}

employee_detail_list = {
    'John Doe': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'Tom Smith': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'Andrew Sebastian': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    }
}

# Contoh penggunaan fungsi
sorted_company_list = sort_company()
print(sorted_company_list)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [6]:
#Menjawab pertanyaan Nomor 2
def get_company_domain():
    for company in company_name_list:
        company_name = company['name']
        domain = company_detail_list[company_name]['domain']
        clients_count = len(company_detail_list[company_name]['clients'])
        print(f"{company_name}: {domain}, relation: {clients_count} clients")

# Data yang diberikan
company_name_list = [{'name': 'Company 1'},
                     {'name': 'Company 2'},
                     {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
                      {'name': 'Tom Smith'},
                      {'name': 'Andrew Sebastian'}]

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {'name': 'acme.inc', 'country': 'united states'},
            {'name': 'Wayne.co', 'country': 'united states'}
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {'name': 'Tesla', 'country': 'united states'},
            {'name': 'Japan Airlines', 'country': 'japan'},
            {'name': 'Indofood', 'country': 'indonesia'}
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {'name': 'Petronas', 'country': 'malaysia'},
            {'name': 'VW Group', 'country': 'germany'},
            {'name': 'IBM', 'country': 'united states'},
            {'name': 'Mitsubishi', 'country': 'japan'}
        ]
    }
}

employee_detail_list = {
    'John Doe': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'Tom Smith': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'Andrew Sebastian': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    }
}

# Contoh penggunaan fungsi
get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [7]:
#Menjawab pertanyaan Nomor 3
def get_employees():
    employees = []
    for employee in employee_name_list:
        full_name = employee['name']
        company_name = employee_detail_list[full_name]['company']
        domain = company_detail_list[company_name]['domain']
        employee_info = {
            'full_name': full_name,
            'company': company_name,
            'domain': domain
        }
        employees.append(employee_info)
    return employees

# Data yang diberikan
company_name_list = [{'name': 'Company 1'},
                     {'name': 'Company 2'},
                     {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
                      {'name': 'Tom Smith'},
                      {'name': 'Andrew Sebastian'}]

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {'name': 'acme.inc', 'country': 'united states'},
            {'name': 'Wayne.co', 'country': 'united states'}
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {'name': 'Tesla', 'country': 'united states'},
            {'name': 'Japan Airlines', 'country': 'japan'},
            {'name': 'Indofood', 'country': 'indonesia'}
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {'name': 'Petronas', 'country': 'malaysia'},
            {'name': 'VW Group', 'country': 'germany'},
            {'name': 'IBM', 'country': 'united states'},
            {'name': 'Mitsubishi', 'country': 'japan'}
        ]
    }
}

employee_detail_list = {
    'John Doe': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'Tom Smith': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'Andrew Sebastian': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    }
}

# Contoh penggunaan fungsi
employees_with_domains = get_employees()
print(employees_with_domains)

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [8]:
#Menjawab pertanyaan Nomor 4
def get_employees_by_company():
    # Inisialisasi dictionary untuk menyimpan perusahaan dan daftar karyawan
    company_employees = {company['name']: [] for company in company_name_list}
    
    # Mengisi dictionary dengan karyawan yang bekerja di setiap perusahaan
    for employee in employee_name_list:
        full_name = employee['name']
        company_name = employee_detail_list[full_name]['company']
        company_employees[company_name].append(full_name)
    
    # Membuat list hasil akhir dalam format yang diminta
    result = [{'company': company, 'employees': employees} for company, employees in company_employees.items()]
    
    return result

# Data yang diberikan
company_name_list = [{'name': 'Company 1'},
                     {'name': 'Company 2'},
                     {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
                      {'name': 'Tom Smith'},
                      {'name': 'Andrew Sebastian'}]

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {'name': 'acme.inc', 'country': 'united states'},
            {'name': 'Wayne.co', 'country': 'united states'}
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {'name': 'Tesla', 'country': 'united states'},
            {'name': 'Japan Airlines', 'country': 'japan'},
            {'name': 'Indofood', 'country': 'indonesia'}
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {'name': 'Petronas', 'country': 'malaysia'},
            {'name': 'VW Group', 'country': 'germany'},
            {'name': 'IBM', 'country': 'united states'},
            {'name': 'Mitsubishi', 'country': 'japan'}
        ]
    }
}

employee_detail_list = {
    'John Doe': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'Tom Smith': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'Andrew Sebastian': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    }
}

# Contoh penggunaan fungsi
employees_by_company = get_employees_by_company()
print(employees_by_company)

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

### Soal pre-processing data

In [33]:
import pandas as pd

In [36]:
data_startup = pd.read_csv('50_Startups.csv')

In [44]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.23       124153.04          1903.93    New York   64926.08
10        NaN       110594.11        229160.95     Florida  146121.95
20   76253.86       113867.30        298664.47  California  118474.03
32   63408.86       129219.61         46085.25  California   97427.84
40   28754.33       118546.05        172795.67  California   78239.91
14  119943.24       156547.42        256512.92     Florida  132602.65
6   134615.46       147198.87        127716.82  California  156122.51

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

In [22]:
#Menjawab pertanyaan Nomor 1
import pandas as pd

# Load the data
data_startup = pd.read_csv('50_Startups.csv')

# Analyze missing data
print("Missing data in each column:")
print(data_startup.isna().sum())

# Fill NaN values with the mean of the column for numeric columns only
numeric_columns = data_startup.select_dtypes(include=['number']).columns
data_startup[numeric_columns] = data_startup[numeric_columns].fillna(data_startup[numeric_columns].mean())

# Verify missing values are filled
print("\nData after filling missing values:")
print(data_startup.isna().sum())

Missing data in each column:
R&D Spend          5
Administration     3
Marketing Spend    5
State              0
Profit             2
dtype: int64

Data after filling missing values:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [23]:
#Menjawab pertanyaan Nomor 2
from sklearn.preprocessing import OneHotEncoder

# OneHotEncode the 'State' field
one_hot_encoder = OneHotEncoder(sparse_output=False)
state_encoded = one_hot_encoder.fit_transform(data_startup[['State']])

# Create a DataFrame with the encoded state columns
state_encoded_df = pd.DataFrame(state_encoded, columns=one_hot_encoder.get_feature_names_out(['State']))

# Drop the original 'State' column and concatenate the new encoded columns
data_startup = data_startup.drop('State', axis=1)
data_startup = pd.concat([data_startup, state_encoded_df], axis=1)

# Display the data to check the new state columns
print("\nData with OneHotEncoded 'State' column:")
print(data_startup.head())

Data with OneHotEncoded 'State' column:
   R&D Spend  Administration  Marketing Spend     Profit  State_California  \
0  165349.20       136897.80        471784.10  192261.83               0.0
1  162597.70       151377.59        443898.53  191792.06               1.0
2  153441.51       101145.55        407934.54  191050.39               0.0
3  144372.41       118671.85        383199.62  182901.99               0.0
4  142107.34        91391.77        366168.42  166187.94               0.0

   State_Florida  State_New York
0            0.0             1.0
1            0.0             0.0
2            1.0             0.0
3            0.0             1.0
4            1.0             0.0

In [24]:
#Menjawab pertanyaan Nomor 3
# Create a new field 'Tax'
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# Display the data to check the new 'Tax' column
print("\nData with new 'Tax' column:")
print(data_startup.head())

Data with new 'Tax' column:
   R&D Spend  Administration  Marketing Spend     Profit  State_California  \
0  165349.20       136897.80        471784.10  192261.83               0.0
1  162597.70       151377.59        443898.53  191792.06               1.0
2  153441.51       101145.55        407934.54  191050.39               0.0
3  144372.41       118671.85        383199.62  182901.99               0.0
4  142107.34        91391.77        366168.42  166187.94               0.0

   State_Florida  State_New York         Tax
0            0.0             1.0  40047.1865
1            0.0             0.0  39353.4090
2            1.0             0.0  35006.5240
3            0.0             1.0  34238.6730
4            1.0             0.0  31187.4065

In [25]:
#Menjawab pertanyaan Nomor 4
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Select the numeric fields to be standardized
numeric_fields = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']

# Standardize the numeric fields
data_startup[numeric_fields] = scaler.fit_transform(data_startup[numeric_fields])

# Display the processed data
print("\nProcessed data after standardization:")
print(data_startup.head())

Processed data after standardization:
   R&D Spend  Administration  Marketing Spend    Profit  State_California  \
0   2.076351        0.554318         2.299248  2.024298               0.0
1   2.011840        1.123258         2.040926  2.012472               1.0
2   1.797168       -0.850460         1.707769  1.993801               0.0
3   1.584537       -0.161817         1.478634  1.788670               0.0
4   1.531431       -1.233706         1.320863  1.367903               0.0

   State_Florida  State_New York       Tax
0            0.0             1.0  2.460946
1            0.0             0.0  2.361311
2            1.0             0.0  1.737043
3            0.0             1.0  1.626770
4            1.0             0.0  1.188570